body,html {
    background-color: #f5f5f5;
}
.detail-status {
    background: linear-gradient(to right, #ff9600, #ff8125);
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.cur {
    position: relative;
    color: #3c80e6;
}
.cur:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: calc(50% - 20px);
    width: 40px;
    height: 2px;
    background-color: #3c80e6;
}
.em-tabview {
    overflow: hidden;
}

.em-tabview-title {
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.em-tabview-head {
    display: flex;
    background-color: #fcfcfc;
    font-size: 14px;
}

.em-tabview-body {
    display: flex;
    width: 300%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

.em-tabview-body ul {
    width: 100%;
}
.detail-container {
    padding-left: 10px;
    background-color: #fff;
}
.detail-line {
    padding: 0 10px 0 0 ;
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
}
.detail-line span:nth-child(1) {
    color: #666;
}

.detail-file {
    padding: 0 10px;
    background-color: #fff;
}
.file-title {
    height: 40px;
    line-height: 40px;
    color: #666;
}
.file-info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
}
.file-info-icon {
    background: url('./images/img-wordicon.png');
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
}
.file-info-name {
    margin-left: 10px;
    width: calc(100% - 70px);
    font-size: 14px;
}
.file-info-name div:nth-child(2) {
    color: #666;
}
.file-info-downloadicon {
    background: url('./images/img-downloadicon.png');
    background-size: 100% 100%;
    width: 22px;
    height: 19px;
}
.noattach {
    padding: 0 0 10px;
    font-size: 15px;
    color: #333333;
}
.base-btn {
    padding: 10px;
    display: flex;
    width: 100%;
}
.base-btn div {
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
}
.base-btn div:nth-child(1) {
    margin-right: 10px;
    background-color: #fff;
    color: #3c80e6;
}

/*检查结果*/
.checkresult {
    background-color: #fff;
}
.checkresult li {
    position: relative;
    padding: 20px 10px;
    border-bottom: 1px solid #e6e6e6;
}
.writeinfo {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 14px;
    color: #3c80e6;
    display: none;
}
.showwrite1 {
    display: block;
}
.checkresult li .mui-icon-arrowright{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 14px;
}
.checkresult li .pass1 {
    margin-left: 4px;
    padding-left: 18px;
    position: relative;
}
.checkresult li .pass1:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: url('./images/img-passicon.png');
    background-size: 100% 100%;
    width: 16px;
    height: 15px;
}
.checkresult-content {
    margin-top: 10px;
    padding-left: 10px;
    color: #666;
    border-left: 2px solid #cedbef;
    font-size: 14px;
}
.coloro {
    color: #ff6c00;
}
.checking {
    margin: 100px auto;
    width: 100%;
    text-align: center;
}
.checking img {
    width: 52px;
    height: 51px;
}
.checking p {
    color: #97b3de;
}

/*处理历史*/

.deal-history {
	padding: 25px 0 0 0;
	margin-right: 15px;
    background-color: #fff;
}

.deal-history-step {
	display: flex;
}

.history-step-left {
	position: relative;
	z-index: 3;
	width: 48px;
	height: 100%;
}

.left-icon {
	position: absolute;
	right: 0;
	z-index: 3;
	display: inline-block;
	width: 31px;
	height: 31px;
	background: url(./images/img_icon_step1.png) no-repeat;
	background-size: 26px 26px;
	background-position: center top;
}

.deal-history-step:last-child .left-icon {
	background: url(./images/img_icon_step2.png) no-repeat;
	background-size: 31px 31px;
	background-position: center top;
}

.history-step-right {
	position: relative;
	z-index: 1;
	width: calc(100% - 48px);
	padding: 0 0 25px 13px;
}

.leftline {
	position: absolute;
	left: -16px;
	z-index: 1;
	display: inline-block;
	width: 2px;
	height: 100%;
	background: #e5e5e5;
}

.deal-history-step:last-child .leftline {
	display: none;
}

.right-title {
	margin-bottom: 12px;
}

.right-title>label {
	display: inline-block;
	width: calc(100% - 125px);
	color: #333;
	font-size: 16px;
}

.right-title>span {
	display: inline-block;
	width: 125px;
	color: #999;
	font-size: 13px;
}

.right-item {
	padding: 10px;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
}

.right-item-list {
	display: flex;
	color: #333;
	font-size: 14px;
}

.right-item-list>label {
	display: inline-block;
	width: 65px;
}

.right-item-list>span {
	display: inline-block;
	width: calc(100% - 65px);
}

.right-item-list-time {
	color: #999;
	font-size: 13px;
}