/**
 * 作者：丁力
 * 创建时间：2019-9-7 20:58:354
 * 版本：[1.0, 2019-9-7]
 * 版权：江苏国泰新点软件有限公司
 * 描述：双随机计划
 **/

html,
body,
.mui-content {
	background: #FFFFFF;
}

/*列表内容*/
#listdata li {
	padding: 20px 15px 12px 15px;
}
.em-title {
	font-size: 17px;
	color: #000000;	
}

.em-conbox {
	position: relative;
	margin: 15px 0;
	border-left: 2px solid #cedbef;
}

.em-con {
	display: block;
	margin-left: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #8c8c8c;
}

.em-tag {
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 5px;
	padding: 3px 16px;
	font-size: 13px;
	color: #3c80e6;
	border: 1px solid #a2c2f3;
	border-radius: 4px;
	background: #f4f8ff;
}
