/** 
 * 作者： 孙尊路
 * 创建时间：2017/06/16 14:47:28
 * 版本： [1.0, 2017/6/16]
 * 版权： 江苏国泰新点软件有限公司
 * 描述： 搜索皮肤8 + 通用消息列表
**/

body,
.mui-content {
	background-color: #ffffff;
}


/*1. 搜索皮肤8*/

.search-wrapper {
	height: 60px;
	background-color: #eaeaea;
	padding: 10px 10px;
}

.mui-input-row {
	border-radius: 4px;
	height: 40px;
	line-height: 40px;
}

.mui-icon.mui-icon-search {
	color: #eaeaea;
	font-weight: 800;
	float: left;
	line-height: 40px;
}

.mui-icon.mui-icon-search:before {
	color: #c1c1c1;
	font-size: 25px;
}

.mui-search.mui-active:before {
	font-size: 25px;
	right: auto;
	left: 6px;
	top: 18px;
	display: block;
	margin-right: 10px;
	color: #c1c1c1;
	font-weight: 600;
}

.mui-search input[type=search] {
	background-color: #fff;
	height: 40px;
	padding-left: 38px;
}

.mui-search .mui-placeholder {
	font-size: 14px;
	line-height: 40px;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 6px;
	display: inline-block;
	height: 34px;
	text-align: left;
	color: #c1c1c1;
	border: 0;
	border-radius: 6px;
	background: 0 0;
}


/*2. 通用列表*/

.mui-scroll-wrapper {
	margin-top: 60px;
}

.mui-table-view:before,
.mui-table-view:after,
.mui-table-view-cell:before,
.mui-table-view-cell:after {
	height: 0px;
}

.mui-table-view-cell {
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
}

.mui-table-view-cell img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.mui-table-view-cell .txt {
	width: 44px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	background: #5ccfb8;
	vertical-align: middle;
	border-radius: 4px;
	display: inline-block;
}

.mui-table-view-cell span {
	font-size: 13px;
	margin-left: 10px;
	color: #000;
	width: calc(100% - 70px);
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	text-overflow: ellipsis;
	margin-right: 2px;
	vertical-align: middle;
}

.mui-navigate-right:after,
.mui-push-left:after,
.mui-push-right:after {
	font-family: Muiicons;
	font-size: 15px;
	font-weight: 600;
	line-height: 1;
	position: absolute;
	top: 50%;
	display: inline-block;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-decoration: none;
	color: #bbb;
	-webkit-font-smoothing: antialiased;
}

 